# Output of the go test coverage tool
*.out

# The goflow-example binary
goflow-example

# Front-end dependencies
assets/node_modules

# Front-end compiled assets
assets/dist

# The default goflow database
goflow.db

# The test database
test.db
