<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/css/styles.css">
    <script src="/static/src/plain.js"></script>
    <title>Goflow</title>
  </head>
  <body>
    <div class="top-nav">
      <h1><a href="/">Goflow</a></h1>
    </div>
    <div class="job-info">
      <strong class="job-info-title">Jobs</strong>
      <div class="button-container-job-page">
        <div class="div-select-n-executions">
          <select name="select-n-executions" id="select-n-executions">
            <option value="10">Display last 10 executions</option>
            <option value="25">Display last 25 executions</option>
            <option value="50">Display last 50 executions</option>
            <option value="100">Display last 100 executions</option>
          </select>
        </div>
      </div>
    </div>
    <div class="job-container">
      <div class="job-table" id="job-table">
        <div>Job</div>
        <div>Schedule</div>
        <div>State</div>
        <div></div>
        {{ range .jobs }}
        <div><a href="/ui/jobs/{{ .Name }}">{{ .Name }}</a></div>
        <div>
          <div id="schedule-badge-{{ .Name }}" class="schedule-badge-active-{{ .Active }}">{{ .Schedule }}</div>
        </div>
        <div class="status-wrapper" id="{{ .Name }}"></div>
        <div class="button-container">
          <button id="button-toggle-{{ .Name }}" class="button" onclick="buttonPress('toggle', '{{ .Name }}')">Toggle scheduling</button>
          <button id="button-submit-{{ .Name }}" class="button" onclick="buttonPress('submit', '{{ .Name }}')">Execute</button>
        </div>
        {{ end }}
      </div>
    </div>
  </body>
</html>
<script>
indexPageEventListener();
</script>
