<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>Goflow</title>
    <script src="/static/src/plain.js"></script>
  </head>
  <body>
    <div class="top-nav">
      <h1><a href="/">Goflow</a></h1>
    </div>
    <div class="job-info">
      <strong class="job-info-title">{{ .jobName }}</strong>
      <div>
        <div id="schedule-badge-{{ .jobName }}">{{ .schedule }}</div>
      </div>
      <div class="button-container-job-page">
        <a href="/ui/diagrams/{{ .jobName}}">View diagram</a>
      </div>
      <div class="button-container-job-page">
        <button id="button-toggle-{{ .jobName }}" class="button" onclick="buttonPress('toggle', '{{ .jobName }}')">Toggle scheduling</button>
        <button id="button-submit-{{ .jobName }}" class="button" onclick="buttonPress('submit', '{{ .jobName }}')">Execute</button>
        <div class="div-select-n-executions">
          <select name="select-n-executions" id="select-n-executions">
            <option value="10">Display last 10 executions</option>
            <option value="25">Display last 25 executions</option>
            <option value="50">Display last 50 executions</option>
            <option value="100">Display last 100 executions</option>
          </select>
        </div>
      </div>
    </div>
    <div class="job-container">
      <div class="task-table", id="task-table">
        <div>Task</div>
        <div>Last Execution Time</div>
        <div>State</div>
        <div>Result</div>
        {{ range $ix, $taskName := .taskNames }}
        <div>{{ $taskName }}</div>
        <div id="last-start-{{ $taskName }}"></div>
        <div class="status-wrapper" id="{{ $taskName }}"></div>
        <div id="last-result-{{ $taskName }}"></div>
        {{ end }}
      </div>
    </div>
  </body>
</html>
<script src="/static/dist/dist.js"></script>
<script>updateJobActive('{{ .jobName }}')</script>
<script>jobPageEventListener('{{ .jobName }}')</script>
