<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Goflow</title>
    <script src="/src/plain.js"></script>
  </head>
  <body>
    <div class="top-nav">
      <h1><a href="/">Goflow</a></h1>
    </div>
    <div class="job-info">
      <strong class="job-info-title">{{ .jobName }}</strong>
      <div>
        <div id="schedule-badge-{{ .jobName }}">{{ .schedule }}</div>
      </div>
      <div class="button-container-job-page">
        <button id="button-toggle-{{ .jobName }}" class="button" onclick="buttonPress('toggle', {{ .jobName }})">Toggle scheduling</button>
        <button id="button-submit-{{ .jobName }}" class="button" onclick="buttonPress('submit', {{ .jobName }})">Submit</button>
      </div>
    </div>
    <div class="job-container">
      <div class="task-table", id="task-table">
        <div>Task</div>
        <div>State</div>
        {{ range $ix, $taskName := .taskNames }}
        <div>{{ $taskName }}</div>
        <div class="status-wrapper" id="{{ $taskName }}"></div>
        {{ end }}
      </div>
      <div class="graph-container">
        <div id="last-job-run-ts-wrapper">Last run:</div>
        <svg class="graph" width="100%"><g/></svg>
      </div>
    </div>
  </body>
</html>
<script src="/dist/dist.js"></script>
<script>goflowUI.graphViz({{ .jobName }})</script>
<script>updateJobActive({{ .jobName }})</script>
<script>readTaskStream({{ .jobName }})</script>
