<html>
	<head>
		<title>Goflow</title>
	</head>
	<script>
		function submit(jobName) {
		  var xhttp = new XMLHttpRequest();
		  xhttp.open("GET", `/jobs/${jobName}/submit`, true);
		  xhttp.send();
		}
	</script>
	<body>
		<h1>
			Jobs
		</h1>
		{{ range $key, $value := .js }}
			<div>
				<a href="/jobs/{{ $key }}">{{ $key }}</a> {{ $value.State }} <button onclick="submit({{ $key }})">Submit</button>
			</div>
		{{ end }}
	</body>
</html>
