<html>
	<head>
		<!-- Compressed CSS -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/css/foundation.min.css" integrity="sha256-ogmFxjqiTMnZhxCqVmcqTvjfe1Y/ec4WaRj/aQPvn+I=" crossorigin="anonymous">
		<link rel="stylesheet" href="/static/css/styles.css">
		<script src="/static/submit.js"></script>
		<script src="/static/pollster.js"></script>
		<script>
		{{ range $key, $value := .js }}
			pollster("{{ $key }}")();
		{{ end }}
		</script>
		<title>Goflow</title>
	</head>
	<body>
		<div class="job-container">
			<h1>
				Jobs
			</h1>
			<table class="pure-table">
				<thead>
					<tr>
						<th style="width:50%">Job</th>
						<th style="width:25%">State</th>
						<th style="width:25%"></th>
					</tr>
				</thead>
				<tbody>
				{{ range $key, $value := .js }}
					<tr>
						<td><a href="/jobs/{{ $key }}">{{ $key }}</a></td>
						<td id="{{ $key }}"></td>
						<td><button class="button primary" onclick="submit({{ $key }})">Submit</button></td>
					</tr>
				{{ end }}
				</tbody>
			</table>
		</div>
	</body>
</html>
