<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="src/plain.js"></script>
    <title>Goflow</title>
  </head>
  <body>
    <div class="top-nav">
      <h1><a href="/">Goflow</a></h1>
    </div>
    <div class="job-info">
      <strong class="job-info-title">Jobs</strong>
    </div>
    <div class="job-container">
      <div class="job-table">
        <div>Job</div>
        <div>Schedule</div>
        <div>State</div>
        <div></div>
        {{ range .jobs }}
        <div><a href="/jobs/{{ .Name }}">{{ .Name }}</a></div>
        <div>
          <div id="schedule-badge-{{ .Name }}">{{ .Schedule }}</div>
        </div>
        <div class="status-wrapper" id="{{ .Name }}"></div>
        <div class="button-container">
          <button class="button primary" onclick="toggleActive({{ .Name }})">Toggle scheduling</button>
          <button class="button primary" onclick="submit({{ .Name }})">Submit</button>
        </div>
        {{ end }}
      </div>
    </div>
  </body>
</html>
<script>
{{ range .jobs }}
  updateJobStateCircles("{{ .Name }}");
{{ end }}
updateJobsActive();
</script>
