<html>
  <head>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="src/plain.js"></script>
    <script>
    {{ range $ix, $jobName := .jobNames }}
      pollster("{{ $jobName }}")();
    {{ end }}
    </script>
    <title>Goflow</title>
  </head>
  <body>
    <div class="top-nav">
      <h1><a href="/">Goflow</a></h1>
    </div>
    <div class="job-container">
      <h2>Jobs</h2>
      <div class="table">
        <div>Job</div>
        <div>State</div>
        <div></div>
        {{ range $ix, $jobName := .jobNames }}
        <div><a href="/jobs/{{ $jobName }}">{{ $jobName }}</a></div>
        <div id="{{ $jobName }}"></div>
        <div class="button-container"><button class="button primary" onclick="submit({{ $jobName }})">Submit</button></div>
        {{ end }}
      </div>
    </div>
  </body>
</html>
