<html>
  <head>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Goflow</title>
    <script src="/src/plain.js"></script>
    <script>pollingTaskState({{ .jobName }})()</script>
  </head>
  <body>
    <div class="top-nav">
      <h1><a href="/">Goflow</a></h1>
    </div>
    <div class="job-info">
      <h2>{{ .jobName }}</h2>
    </div>
    <div class="job-container">
      <div class="table">
        <div>Task</div>
        <div>State</div>
        <div></div>
        {{ range $ix, $taskName := .taskNames }}
        <div>{{ $taskName }}</div>
        <div id="{{ $taskName }}"></div>
        <div></div>
        {{ end }}
      </div>
      <div class="graph-container">
        <svg class="graph" width="100%"><g/></svg>
      </div>
    </div>
  </body>
</html>
<script src="/dist/dist.js"></script>
<script>goflowUI.graphViz(getDag({{ .jobName }}))</script>
